.section {
  padding-top: 30px;
  margin-top: 90px;
}
/* Start Landing */
.landing::before, 
.landing::after {
  display: none; 
}
.landing h2 {
  padding-right: 0 !important; 
}
@media (max-width: 992px) {
  .landing .container {
    flex-direction: column; 
    gap: 4rem; 
  }
}
.landing .container img {
  animation: go-up 2s ease-in-out .5s forwards; 
  opacity: 0; 
  transform: translateY(30px); 
  min-width: 400px; 
}
@media (max-width: 767px) {
  .landing .container img {
    min-width: auto; 
  }
}
.landing .container .box {
  padding: 0; 
  background-color: transparent; 
  box-shadow: none;
}
/* End Landing */
/* Start Video Info */
.video-info {
  background-image: url(../images/video-bg.jpg);
  padding-bottom: 60px; 
}
.video-info .container {
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.video-info .image {
  transform: translateY(-5rem);
  height: fit-content; 
}
.video-info .image a {
  position: absolute; 
  left: 50%; 
  top: 50%; 
  transform: translate(-50%, -50%);
  display: grid; 
  place-items: center; 
  width: 40px;
  height: 40px; 
  background-color: #fff; 
  border-radius: 50%;
}
/* End Video Info */



