/* Start Landing */
.landing::before, 
.landing::after {
  display: none; 
}
.landing h2 {
  padding-right: 0 !important; 
}
@media (max-width: 992px) {
  .landing .container {
    flex-direction: column; 
    gap: 2rem; 
  }
}
.landing .container img {
  animation: go-up 2s ease-in-out .5s forwards; 
  opacity: 0; 
  transform: translateY(30px); 
  min-width: 400px; 
}
@media (max-width: 767px) {
  .landing .container img {
    min-width: auto; 
  }
}
.landing .container .box {
  padding: 0; 
  background-color: transparent; 
  box-shadow: none;
}
/* End Landing */