.d-flex {
  display: flex; 
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center; 
}
.between-flex {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
}
.d-grid {
  display: grid; 
}
.gap-5 {
  gap: 5px;
}
.d-block {
  display: block; 
}
/* Start Colors */
.bg-fff {
  background-color: #fff;
}
.bg-000 {
  background-color: #000;
}
/* End Colors */
/* Start Position */
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
/* End Position */
/* Start Font */
.txt-c {
  text-align: center;
}
/* End Font */
/* Start Width + Height */
.w-fit {
  width: fit-content; 
}
.h-fit {
  height: fit-content;
}
.w-full {
  width: 100%; 
}
.h-full {
  height: 100%; 
}
/* End Width + Height */
/* Start Mobile */
@media (max-width: 767px) {
  .hide-mobile {
    display: none; 
  }
}
@media (max-width: 767px) {
  .txt-c-mobile {
    text-align: center; 
  }
}
/* End Mobile */


