.d-flex {
  display: flex; 
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center; 
}
.between-flex {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
}
.center-flex {
  display: flex; 
  justify-content: center; 
  align-items: center;
}
.d-grid {
  display: grid; 
}
.gap-5 {
  gap: 5px;
}
.d-block {
  display: block; 
}
.d-none {
  display: none; 
}
/* Start Colors */
.bg-fff {
  background-color: #fff;
}
.bg-000 {
  background-color: #000;
}
.bg-primary {
  background-color: #5b03e4; 
}
.bg-second-primary {
  background-color: #c03afe; 
}
.bg-eee {
  background-color: #eee; 
}
.c-fff {
  color: #fff; 
}
.c-000 {
  color: #000; 
}
.c-gray {
  color: #afafaf;
}
.c-primary {
  color: #5b03e4;
}
.c-second-primary {
  color: #c03afe; 
}
.c-dark {
  color: #2a2a2a; 
}
/* End Colors */
/* Start Position */
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
.center-absolute {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
}
/* End Position */
/* Start Font */
.txt-c {
  text-align: center;
}
/* End Font */
/* Start Width + Height */
.w-fit {
  width: fit-content; 
}
.h-fit {
  height: fit-content;
}
.w-full {
  width: 100%; 
}
.h-full {
  height: 100%; 
}
/* End Width + Height */
/* Start Mobile */
@media (max-width: 767px) {
  .hide-mobile {
    display: none; 
  }
  .txt-c-mobile {
    text-align: center; 
  }
  .d-none-mobile {
    display: none; 
  }
}
/* End Mobile */
.index-1 {
  z-index: 1;
}
.overflow-h {
  overflow: hidden; 
}
/* Start Maring + Padding*/
.m-auto {
  margin: auto; 
}
.mb-20 {
  margin-bottom: 20px; 
}
/* End Maring + Padding */
/* Start Font */
.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px; 
}
.fs-15 {
  font-size: 15px; 
}
/* End Font */
/* Start Border */
.box-border {
  border: 1px solid #f3d7ff; 
}
.border-eee {
  border: 1px solid #eee;
}
.rad-25 {
  border-radius: 25px;
}
.rad-50 {
  border-radius: 50%; 
}
/* End Border */
/* Start Shadows */
.box-shadow {
  box-shadow: 0 0 25px rgba(0, 0, 0, .2);
}
/* End Shadows */


