/* Start Global Rules */
:root {
  --blue: #0d6efd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #198754;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --black: #000;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --primary: #0d6efd;
  --secondary: #6c757d;
  --success: #198754;
  --info: #0dcaf0;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #212529;
  --primary-rgb: 13,110,253;
  --secondary-rgb: 108,117,125;
  --success-rgb: 25,135,84;
  --info-rgb: 13,202,240;
  --warning-rgb: 255,193,7;
  --danger-rgb: 220,53,69;
  --light-rgb: 248,249,250;
  --dark-rgb: 33,37,41;
  --white-rgb: 255,255,255;
  --black-rgb: 0,0,0;
  --body-color-rgb: 33,37,41;
  --body-bg-rgb: 255,255,255;
  --font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --body-font-family: var(--font-sans-serif);
  --body-font-size: 1rem;
  --body-font-weight: 400;
  --body-line-height: 1.5;
  --body-color: #212529;
  --body-bg: #fff;
  --border-width: 1px;
  --border-style: solid;
  --border-color: #dee2e6;
  --border-color-translucent: rgba(0, 0, 0, 0.175);
  --border-radius: 0.375rem;
  --border-radius-sm: 0.25rem;
  --border-radius-lg: 0.5rem;
  --border-radius-xl: 1rem;
  --border-radius-2xl: 2rem;
  --border-radius-pill: 50rem;
  --link-color: #0d6efd;
  --link-hover-color: #0a58ca;
  --code-color: #d63384;
  --highlight-bg: #fff3cd;
  --margin-top: 120px; 
}
* {
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
  scroll-behavior: smooth; 
}
*::before, 
*::after {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: var(--body-color);
  font-size: var(--body-font-size);
  background-color: var(--body-bg); 
  line-height: var(--body-line-height);
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: #6610f2;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #5b03e4;

}
.page {
  overflow-x: hidden;
  height: 100vh; 
  min-height: 100vh; 
}
.container {
  margin: 0 auto; 
  padding: 0 .75rem;
  width: clamp(20rem, 90vw, 85rem)
}
img {
  max-width: 100%; 
  display: block; 
}
ul {
  list-style: none;
}
i::before {
  font-weight: 900;
}
a {
  text-decoration: none; 
  color: var(--link-color);
}
/* End Global Rules */
/* Start Header */
.special-title {
  position: relative;
  font-size: clamp(2rem, 3vw, 4rem); 
  margin-bottom: .625em; 
  color: #2a2a2a; 
}
.special-title::before {
  content: ''; 
  position: absolute; 
  bottom: 0; 
  left: 0;
  width: 70px; 
  height: 2px; 
  background-color: #5b03e4;
}
.special-title span:first-child {
  color: #5b03e4;
}
.special-title span:last-child {
  color: #c03afe;
}
.pre-header {
  height: 57px; 
}
.pre-header .container {
  padding: 15px 0;
}
.pre-header .head-contact a {
  color: #a586bc;
  font-size: 14px; 
  transition: 0.3s;
}
.head-contact :where(a:first-child, a:nth-child(2)) {
  margin-right: 15px; 
  padding-right: 15px;
}
.head-contact a:hover {
  color: #c03afe;
}
.head-contact a i {
  font-size: 18px;
  margin-right: 10px
}
.head-contact a:nth-child(1) {
  border-right: 1px solid var(--border-color);
}
.head-contact a:nth-child(2) {
  border-right: 1px solid var(--border-color);
}
.pre-header .icons ul {
  gap: 15px; 
}
.pre-header .icons a {
  font-size: 18px; 
  color: #a586bc; 
  transition: .3s; 
}
.pre-header .icons a:hover {
  color: #c03afe;
}
header {
  background-image: linear-gradient(90deg, rgba(85,0,227,1) 0%, rgba(198,61,255,1) 100%);
  position: sticky; 
  top: 0; 
  left: 0;
  z-index: 100; 
}
header .container {
  height: clamp(80px, 17vh, 110px); 
}
@media (max-width: 767px) {
  header .container > label {
    display: block; 
    width: 32px; 
    height: 28px;
    cursor: pointer;
  }
  header .container > label span {
    height: 2px; 
    transition: .3s; 
    left: 0;
  }
  header .container > label span:nth-child(1) {
    top: 0;
    --i: 1; 
  }
  header .container > label span:nth-child(2) {
    top: 50%; 
    transform: translateY(-50%)
  }
  header .container > label span:nth-child(3) {
    top: calc(100% - 3px);
    --i: -1; 
  }
  header .container > input:checked + label span:not(:nth-child(2)) {
    transform: rotate(calc(45deg * var(--i))) translateY(-50%);
    top: 50%; 
  }
  header .container > input:checked + label span:nth-child(2) {
    opacity: 0;
  }
  header div.container > ul.d-flex:has(li) {
    height: 0; 
    overflow: hidden; 
    transition: .3s; 
  }
  header .container > input:checked + label + ul.d-flex {
    height: 257px; 
  }
  header .container > input:checked + label + ul.d-flex:has(.p-relative input:checked) {
    height: 336px;
  }
}
@media (max-width: 767px) {
  header .container > ul.d-flex {
    flex-direction: column; 
    position: absolute; 
    top: 100%; 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 1;
    width: calc(100% - 85px); 
    height: auto; 
    margin: 0 auto; 
    font-size: 14px;
  }

}
header .container > ul > li {
  padding: 0 clamp(.625rem, 1.5vw, 2rem);
  display: grid; 
  place-items: center; 
  height: 100%;
  cursor: pointer
}
@media (max-width: 767px) {
  header .container > ul.d-flex > li:not(:last-child) {
    border-bottom: 1px solid #eee;
  }
  header .container ul.d-flex > li {
    padding: 0;
  }
  header div.container > ul > li :is(a, span) {
    display: block; 
    height: 100%;
    width: 100%;
    max-height: 42px; 
    color: #000;
    background-color: #f7f7f7;
    text-align: center;
    padding: .750rem; 
    font-size: 12px; 
    opacity: 1 !important;
  }
  header .container > ul > li :where(a:hover, span:hover) {
    background: #eee !important;
    color: #5b03e4 !important;
  }
}
@media (max-width: 992px) {
  header .container > ul > li {
    padding: 0 10px;
  }
}
header ul li:nth-child(4) {
  padding: 0 30px 0 10px;
}
header ul :where(a, span) {
  text-transform: uppercase; 
  color: #fff;
  font-size: 14px; 
  letter-spacing: 1px;
  transition: .3s; 
}
header ul li:hover :where(a, span) {
  opacity: .8;
}
header ul li i {
  font-size: 12px;
}
header ul li .menu {
  transition: .3s; 
}
@media (min-width: 768px) {
  header ul li .menu {
    opacity: 0;
    transform: translateY(50px);
    transition: .3s; 
    position: absolute; 
    width: 160px;
    top: 100%;
    left: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; 
    overflow: hidden;
    box-shadow: 0 2px 28px 0 rgb(0 0 0 / 6%);
  }
}
header ul .p-relative > label {
  cursor: pointer; 
}
@media (max-width: 767px) {
  header ul .p-relative > label {
    display: block;
  }
  header ul .p-relative > label .menu {
    height: 0;
    overflow: hidden; 
    transition: .3s; 
  }
  header ul .p-relative input:checked + label .menu {
    overflow: visible; 
    height: 84px; 
  }
}
header ul .p-relative > input:checked + label .menu {
  z-index: 1; 
  opacity: 1; 
  transform: translateY(0);
}
header ul li .menu li {
  background-color: #eee;
  transition: .3s
}
header ul li .menu li:hover {
  background-color: #fff;
}
header ul li .menu a {
  transition: .3s;   
  display: block; 
  color: #000; 
  font-size: 12px;
  padding: .625rem 1rem;
  text-transform: uppercase;
  width: 100%;
  opacity: 1;
}
@media (min-width: 768px) {
  header ul li .menu a:hover {
    transform: translateX(5px);
    color: #5b03e4;
  }
}
/* End Header */
/* Start Landing */
.landing {
  padding-block: clamp(3rem, 12vw, 8rem); 
}
.landing::before, 
.landing::after {
  position: absolute; 
  height: 100%; 
  z-index: -1;
}
.landing::before {
  content: url(../images/banner-left.png);
  left: 0; 
  top: -105px; 
}
.landing::after {
  content: url(../images/banner-right.png);
  right: 0; 
  top: -115px; 
}
.landing .box {
  max-width: 750px;
  padding: clamp(1rem, 5vw, 3.5rem);
  border-radius: 15px;
  box-shadow: 0 5px 43px -10px rgb(0 0 0 / 20%);
  background-color: rgba(255, 255, 255, .9);
  opacity: 0; 
  transform: translateY(30px);
  animation: go-up 2s ease-in-out .5s forwards; 
}
@media (max-width: 767px) {
  .landing .box {
    padding: 1rem;
  }
}
@media (min-width: 1400px) {
  .landing .box {
    background-color: transparent; 
    box-shadow: none; 
    padding: 0; 
  }
}
.landing .box > span:first-child {
  font-size: 20px;
  font-weight: bold;
  padding: 0 0 30px;
  margin-bottom: 20px;
  border-bottom: 2px solid #decdfa;
}
.landing .box > .special-title {
  font-size: clamp(2rem, 3.5vw, 4rem); 
  line-height: 70px; 
  margin-bottom: .625em; 
  padding-right: 2.5em; 
}
.landing .box > .special-title::before {
  display: none;
}
.landing .box > p {
  line-height: 30px; 
  margin-bottom: 30px; 
  font-size: 15px; 
  /* To Force It To Take 75% Width Of The Parent */
  padding-right: 25%;
}
.landing .box p a:hover {
  color: var(--link-hover-color);
}
.landing .box .between-flex {
  gap: 3.5rem;
}
@media (max-width: 767px) {
  .landing .box .between-flex {
    gap: 1.5rem; 
  }
}
@media (max-width: 992px) {
  .landing .box > span:first-child {
    margin: 0 auto 20px;
  }
  /* I'm using :is psuedo class to give more specificity to overriding padding-right */
  .landing .box > :is(.special-title, p) {
    text-align: center; 
    padding-right: 0;
  }
  .landing .box .between-flex {
    margin: auto;
  }
}
.landing .box .between-flex > a {
  border-radius: 25px; 
  padding: 12px 30px;
  font-size: 14px;
  transition: .3s;
  letter-spacing: .5px; 
  white-space: nowrap;
}
@media (max-width: 767px) {
  .landing .box .between-flex > a {
    padding: 12px 15px;
    font-size: 12px; 
  }
}
.landing .box .between-flex > a:hover {
  opacity: .8;
}
.landing .box .between-flex > span {
  left: 50%; 
  top: 70%; 
  transform: translateX(-50%)
}
/* End Landing */
/* Start Services */
.services {
  margin: 130px 0; 
  /* overflow: hidden;  */
}
.services::before, 
.services::after {
  position: absolute; 
  z-index: -1; 
}
.services::before {
  content: url(../images/services-left.jpg);
  bottom: -90px; 
  left: 0; 
}
.services::after {
  content: url(../images/contact-left.jpg);
  right: 0; 
  bottom: -20px;
  transform: scale(-1)
}
.services .content {
  flex-basis: 50%; 
  margin-left: auto; 
}
@media (max-width: 992px) {
  .services .content {
    flex-basis: 100%; 
  }
}
.services .content > .special-title {
  font-size: 30px;
  padding-bottom: 30px;
  margin-bottom: 25px;
  line-height: 1.5;
}
.services .content > p {
  margin-bottom: 30px; 
}
.services .grid {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px
}
@media (max-width: 992px) {
  .services .grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
  }
}
.services .box {
  padding: 2em; 
  border: 1px solid #f3d7ff; 
  transition: .3s; 
}
.services .box:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
}
.services .box > h3 {
  font-size: 20px;
  margin-top: 24px; 
  transition: .3s; 
}
.services .box:hover > h3 {
  color: #5b03e4;
}
/* End Services */
/* Start Projects */
.projects {
  margin: 90px 0; 
  padding: 30px 0; 
}
.projects .container {
  margin-bottom: 7rem;
}
.projects .info h2 {
  font-size: 30px;
  padding-bottom: 30px; 
  margin-bottom: 25px;
}
.projects .info h2::before {
  content: ''; 
  position: absolute; 
  bottom: 0;
  left: 0; 
  width: 60px; 
  height: 2px; 
  background-color: #5b03e4;
}
.projects .info p {
  padding-right: 50%;
  font-size: 15px;
}
.projects .info .chevrons {
  bottom: 0; 
  right: 15%; 
  transform: translateY(50%); 
  display: flex; 
  gap: 20px;
  width: fit-content; 
}
@media (max-width: 767px) {
  .services .content > h2::before, 
  .projects .info h2::before {
    left: 50%;
    transform: translateX(-50%)
  }
  .projects .info p {
    padding-right: 0;
  }
  .projects .info .chevrons {
    top: calc(100% + 30px); 
    left: 50%; 
    transform: translateX(-50%); 
  }
}
.projects .info .chevrons i {
  transition: .3s; 
  font-size: 10px; 
  width: 45px; 
  height: 45px;
  cursor: pointer; 
}
.projects .info .chevrons i:hover {
  background-color: #5b03e4; 
}
.projects .images {
  display: flex;
  gap: 2rem; 
}
.projects .images .box {
  /* 2rem is the gap */
  flex: 1 0 calc(50% - 2rem);
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
} 
@media (min-width: 992px) {
  .projects .images .box {
    flex: 1 0 calc(33.33% - 20px);
    transform: translateX(0)
  }
}
@media (min-width: 1200px) {
  .projects .images .box {
      flex: 1 0 calc(25% - 2rem);
      transform: translateX(-50%)
  }
}
.projects .images img {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
}
.projects .images .down-content {
  border-bottom-left-radius: 25px;   
  border-bottom-right-radius: 25px; 
  padding: clamp(2rem, 2.5vw, 3rem);
  gap: 2rem;
  flex: 1; 
} 
.projects .images .down-content h3 {
  font-size: 20px;
}
.projects .images .down-content a {
  /* I'm Not Using Width Because The Flex Shrink Is On, It Will Shirnk Down When The Size Is Smaller */
  /* width: 50px;  */
  min-width: 50px; 
  height: 50px;
}
/* End Projects */
/* Start Animations */
@keyframes go-up {
  to {
    opacity: 1; 
    transform: translateY(0)
  }
}
/* End Animations */