/* Start Global Rules */
:root {
  --body-font-size: 1rem;
  --body-font-weight: 400;
  --body-line-height: 1.5;
  --border-color: #dee2e6;
  --link-color: #0d6efd;
  --link-hover-color: #0a58ca;
  --margin-top: 120px; 
  --margin-top: 150px; 
  --margin-bottom: 150px;
}
* {
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
  scroll-behavior: smooth; 
  scroll-padding-block: 6rem;
}
*::before, 
*::after {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: var(--body-font-weight);
  font-size: var(--body-font-size);
  background-color: var(--body-bg); 
  line-height: var(--body-line-height);
}
::selection {
  color: #fff; 
  background-color: #5b03e4; 
}
::-webkit-scrollbar {
  width: 15px;
}
@media (max-width: 767px) {
  ::-webkit-scrollbar {
    width: 5px;
  }
}
::-webkit-scrollbar-track {
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: #6610f2;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #5b03e4;

}
.page {
  overflow-x: hidden;
  height: 100vh; 
  min-height: 100vh; 
}
.container {
  margin: 0 auto; 
  padding: 0 .75rem;
  width: clamp(20rem, 90vw, 85rem)
}
img {
  max-width: 100%; 
  display: block; 
}
ul {
  list-style: none;
}
i::before {
  font-weight: 900;
}
a {
  text-decoration: none; 
  color: var(--link-color);
}
p {
  font-size: 15px;
  line-height: 30px;
  color: #afafaf;
}
/* End Global Rules */
/* Start Header */
.special-title {
  position: relative;
  font-size: clamp(2rem, 3vw, 3.5rem); 
  margin-bottom: .625em; 
  color: #2a2a2a; 
}
.special-title::before {
  content: ''; 
  position: absolute; 
  bottom: 0; 
  left: 0;
  width: 70px; 
  height: 2px; 
  background-color: #5b03e4;
}
.special-title span:first-child {
  color: #5b03e4;
}
.special-title span:last-child {
  color: #c03afe;
}
.pre-header {
  height: 57px; 
}
.pre-header .container {
  padding: 15px 0;
}
.pre-header .head-contact a {
  color: #a586bc;
  font-size: 14px; 
  transition: 0.3s;
}
.head-contact :where(a:first-child, a:nth-child(2)) {
  margin-right: 15px; 
  padding-right: 15px;
}
.head-contact a:hover {
  color: #c03afe;
}
.head-contact a i {
  font-size: 18px;
  margin-right: 10px
}
.head-contact a:nth-child(1) {
  border-right: 1px solid var(--border-color);
}
.head-contact a:nth-child(2) {
  border-right: 1px solid var(--border-color);
}
.pre-header .icons ul {
  gap: 15px; 
}
.pre-header .icons a {
  font-size: 18px; 
  color: #a586bc; 
  transition: .3s; 
}
.pre-header .icons a:hover {
  color: #c03afe;
}
header {
  background-image: linear-gradient(90deg, rgba(85,0,227,1) 0%, rgba(198,61,255,1) 100%);
  position: sticky; 
  top: 0; 
  left: 0;
  z-index: 100; 
}
header .container {
  height: clamp(80px, 17vh, 110px); 
}
@media (max-width: 767px) {
  header .container > label {
    display: block; 
    width: 32px; 
    height: 28px;
    cursor: pointer;
  }
  header .container > label span {
    height: 2px; 
    transition: .3s; 
    left: 0;
  }
  header .container > label span:nth-child(1) {
    top: 0;
    --i: 1; 
  }
  header .container > label span:nth-child(2) {
    top: 50%; 
    transform: translateY(-50%)
  }
  header .container > label span:nth-child(3) {
    top: calc(100% - 3px);
    --i: -1; 
  }
  header .container > input:checked + label span:not(:nth-child(2)) {
    transform: rotate(calc(45deg * var(--i))) translateY(-50%);
    top: 50%; 
  }
  header .container > input:checked + label span:nth-child(2) {
    opacity: 0;
  }
  header div.container > ul.d-flex:has(li) {
    height: 0; 
    overflow: hidden; 
    transition: .3s; 
  }
  header .container > input:checked + label + ul.d-flex {
    height: 257px; 
  }
  header .container > input:checked + label + ul.d-flex:has(.p-relative input:checked) {
    height: 336px;
  }

  header .container > ul.d-flex {
    flex-direction: column; 
    position: absolute; 
    top: 100%; 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 1;
    width: calc(100% - 85px); 
    height: auto; 
    margin: 0 auto; 
    font-size: 14px;
  }
}
header .container > ul > li :where(a, span) {
  padding: 0 clamp(.625rem, 1.5vw, 2rem);
  display: grid; 
  place-items: center; 
  height: 100%;
  cursor: pointer
}
header .container > ul > li span {
  display: flex; 
  gap: 10px; 
}
@media (max-width: 767px) {
  header .container > ul.d-flex > li:not(:last-child) {
    border-bottom: 1px solid #eee;
  }
  header .container ul.d-flex > li {
    padding: 0;
  }
  header div.container > ul > li :is(a, span) {
    display: block; 
    height: 100%;
    width: 100%;
    max-height: 42px; 
    color: #000;
    background-color: #f7f7f7;
    text-align: center;
    padding: .750rem; 
    font-size: 12px; 
    opacity: 1 !important;
  }
  header div.container > ul > li span > span {
    padding: 0;
    /* To Center Inner span */
    justify-content: center; 
  }
  header .container > ul > li :where(a:hover, span:hover) {
    background: #eee !important;
    color: #5b03e4 !important;
  }
  header .container > ul > li span > span {
    background-color: transparent !important;
    color: #000;
  }
}
@media (max-width: 992px) {
  header .container > ul > li a {
    padding: 0 10px;
  }
}
header ul li:nth-child(4) a {
  padding: 0 30px 0 10px;
}
header ul :where(a, span) {
  text-transform: uppercase; 
  color: #fff;
  font-size: 14px; 
  letter-spacing: 1px;
  transition: .3s; 
}
header ul li a:hover, 
header ul li span:hover {
  opacity: .8;
}
header ul li i {
  font-size: 12px;
  transition: .3s; 
}
header ul li input:checked + label span i {
  transform: rotate(180deg)
}
header ul li .menu {
  transition: .3s; 
}
@media (min-width: 768px) {
  header ul li .menu {
    opacity: 0;
    transform: translateY(50px);
    transition: .3s; 
    position: absolute; 
    width: 160px;
    top: 100%;
    left: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; 
    overflow: hidden;
    box-shadow: 0 2px 28px 0 rgb(0 0 0 / 6%);
    visibility: hidden; 
  }
  header ul li input:checked + label .menu {
    visibility: visible; 
    transform: translateY(0); 
    opacity: 1;
  }
}
@media (max-width: 767px) {
  header ul .p-relative > label {
    display: block;
    cursor: pointer; 
  }
  header ul .p-relative > label .menu {
    height: 0;
    overflow: hidden; 
    transition: .3s; 
  }
  header ul .p-relative input:checked + label .menu {
    overflow: visible; 
    height: 84px; 
  }
}
header ul li .menu li {
  background-color: #eee;
  transition: .3s
}
header ul li .menu li:hover {
  background-color: #fff;
}
header ul li .menu a {
  transition: .3s;   
  display: block; 
  color: #000; 
  font-size: 12px;
  padding: .625rem 1rem;
  text-transform: uppercase;
  width: 100%;
  opacity: 1;
}
@media (min-width: 768px) {
  header ul li .menu a:hover {
    transform: translateX(5px);
    color: #5b03e4;
  }
}
/* End Header */
/* Start Landing */
.landing {
  padding-block: clamp(3rem, 12vw, 8rem); 
}
.landing::before, 
.landing::after {
  position: absolute; 
  height: 100%; 
  z-index: -1;
}
.landing::before {
  content: url(../images/banner-left.png);
  left: 0; 
  top: -105px; 
}
.landing::after {
  content: url(../images/banner-right.png);
  right: 0; 
  top: -115px; 
}
.landing .box {
  max-width: 750px;
  padding: clamp(1rem, 5vw, 3.5rem);
  border-radius: 15px;
  box-shadow: 0 5px 43px -10px rgb(0 0 0 / 20%);
  background-color: rgba(255, 255, 255, .9);
  opacity: 0; 
  transform: translateY(30px);
  animation: go-up 2s ease-in-out .5s forwards; 
}
@media (max-width: 767px) {
  .landing .box {
    padding: 1rem;
  }
}
@media (min-width: 1400px) {
  .landing .box {
    background-color: transparent; 
    box-shadow: none; 
    padding: 0; 
  }
}
.landing .box > span:first-child {
  font-size: 20px;
  font-weight: bold;
  padding: 0 0 30px;
  margin-bottom: 20px;
  border-bottom: 2px solid #decdfa;
}
.landing .box > .special-title {
  font-size: clamp(2rem, 3.5vw, 4rem); 
  line-height: 70px; 
  margin-bottom: .625em; 
  padding-right: 2.5em; 
}
.landing .box > .special-title::before {
  display: none;
}
.landing .box > p {
  line-height: 30px; 
  margin-bottom: 30px; 
  font-size: 15px; 
  /* To Force It To Take 75% Width Of The Parent */
  padding-right: 25%;
}
.landing .box p a:hover {
  color: var(--link-hover-color);
}
.landing .box .between-flex {
  gap: 3.5rem;
}
@media (max-width: 767px) {
  .landing .box .between-flex {
    gap: 1.5rem; 
  }
}
@media (max-width: 992px) {
  .landing .box > span:first-child {
    margin: 0 auto 20px;
  }
  /* I'm using :is psuedo class to give more specificity to overriding padding-right */
  .landing .box > :is(.special-title, p) {
    text-align: center; 
    padding-right: 0;
  }
  .landing .box .between-flex {
    margin: auto;
  }
}
.landing .box .between-flex > a {
  border-radius: 25px; 
  padding: 12px 30px;
  font-size: 14px;
  transition: .3s;
  letter-spacing: .5px; 
  white-space: nowrap;
}
@media (max-width: 767px) {
  .landing .box .between-flex > a {
    padding: 12px 15px;
    font-size: 12px; 
  }
}
.landing .box .between-flex > a:hover {
  opacity: .8;
}
.landing .box .between-flex > span {
  left: 50%; 
  top: 70%; 
  transform: translateX(-50%)
}
/* End Landing */
/* Start Services */
.services {
  margin-top: var(--margin-top);
  margin-bottom: var(--margin-bottom);
}
.services::before, 
.services::after {
  position: absolute; 
  z-index: -1; 
}
.services::before {
  content: url(../images/services-left.jpg);
  bottom: -90px; 
  left: 0; 
}
.services::after {
  content: url(../images/contact-left.jpg);
  right: 0; 
  bottom: -20px;
  transform: scale(-1)
}
.services .content {
  flex-basis: 50%; 
  margin-left: auto; 
}
@media (max-width: 992px) {
  .services .content {
    flex-basis: 100%; 
  }
}
.services .content > .special-title {
  font-size: 30px;
  padding-bottom: 30px;
  margin-bottom: 25px;
  line-height: 1.5;
}
.services .content > p {
  margin-bottom: 30px; 
}
.services .grid {
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 20px
}
@media (max-width: 992px) {
  .services .grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
  }
}
.services .box {
  padding: 2em; 
  border: 1px solid #f3d7ff; 
  transition: .3s; 
}
.services .box:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
}
.services .box > h3 {
  font-size: 20px;
  margin-top: 24px; 
  transition: .3s; 
}
.services .box:hover > h3 {
  color: #5b03e4;
}
/* End Services */
/* Start Projects */
.projects {
  margin-top: var(--margin-top);
  margin-bottom: var(--margin-bottom);
  padding: 30px 0; 
}
.projects .container {
  margin-bottom: 7rem;
}
.projects .info h2 {
  font-size: 30px;
  padding-bottom: 30px; 
  margin-bottom: 25px;
}
.projects .info h2::before {
  content: ''; 
  position: absolute; 
  bottom: 0;
  left: 0; 
  width: 60px; 
  height: 2px; 
  background-color: #5b03e4;
}
.projects .info p {
  padding-right: 50%;
  font-size: 15px;
}
.projects .info .chevrons {
  bottom: 0; 
  right: 15%; 
  transform: translateY(50%); 
  display: flex; 
  gap: 20px;
  width: fit-content; 
}
@media (max-width: 767px) {
  .services .content > h2::before, 
  .projects .info h2::before {
    left: 50%;
    transform: translateX(-50%)
  }
  .projects .info p {
    padding-right: 0;
  }
  .projects .info .chevrons {
    top: calc(100% + 30px); 
    left: 50%; 
    transform: translateX(-50%); 
  }
}
.projects .info .chevrons i {
  transition: .3s; 
  font-size: 10px; 
  width: 45px; 
  height: 45px;
  cursor: pointer; 
}
.projects .info .chevrons i:hover {
  background-color: #5b03e4; 
}
.projects .images {
  gap: 2rem; 
}
.projects .images .box {
  /* 2rem is the gap */
  flex: 1 0 calc(50% - 2rem);
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
} 
@media (max-width: 600px) {
  .projects .images .box {
    flex: 1 0 100%;
  }
}
@media (min-width: 992px) {
  .projects .images .box {
    flex: 1 0 calc(33.33% - 20px);
    transform: translateX(0)
  }
}
@media (min-width: 1200px) {
  .projects .images .box {
      flex: 1 0 calc(25% - 2rem);
      transform: translateX(-50%)
  }
}
.projects .images img {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  height: clamp(350px, 25vw, 400px);
}
.projects .images .down-content {
  border-bottom-left-radius: 25px;   
  border-bottom-right-radius: 25px; 
  padding: clamp(2rem, 2.5vw, 3rem);
  gap: 2rem;
  flex: 1; 
} 
.projects .images .down-content h3 {
  font-size: 20px;
}
.projects .images .down-content a {
  /* I'm Not Using Width Because The Flex Shrink Is On, It Will Shirnk Down When The Size Is Smaller */
  /* width: 50px;  */
  min-width: 50px; 
  height: 50px;
}
/* End Projects */
/* Start Infos */
.infos {
  padding: 120px 0; 
  margin-bottom: var(--margin-bottom);
  background-image: url(../images/infos-bg.jpg);
}
@media (max-width: 992px) {
  .infos .box {
    flex-direction: column; 
  }
}
.infos .box > .image,
.infos .box > .content {
  flex: 1 0 50%; 
}
.infos .box > .content {
  padding: clamp(2.5rem, 5.5vw, 4rem)
}
.infos .box > .content h2 {
  font-size: 30px; 
  padding-bottom: 30px;
}
.infos .box > .content p {
  line-height: 30px; 
  margin-bottom: 30px; 
}
/* .infos .box > .content .field {
} */
.infos .box > .content .field h3 {
  margin-bottom: 10px; 
}
.infos .box > .content .field .progress {
  height: 10px; 
  background-color: #f9ebff;
}
:where(.infos, .video-info) .content .progress span::before {
  content: attr(data-progress);
  position: absolute;
  left: 100%;
  transform: translateX(-50%);
  bottom: calc(100% + 10px);
  font-size: 12px;
  color: #fff;
  background-color: #5b03e4;
  padding: 3px 5px;
  border-radius: 5px;
}
.infos .box > .content .progress span::after {
  content: '';
  position: absolute;
  border: 7px solid;
  border-color: #5b03e4 transparent transparent transparent;
  left: 100%;
  transform: translateX(-50%);
  bottom: calc(100% - 3px);
}
.infos .box .content > p:last-child {
  margin: 40px 0 0 0; 
}
/* End Infos */
/* Start Contact */
.contact::before, 
.contact::after {
  content: url(../images/contact-left.jpg);
  position: absolute;  
  width: 103px;
  height: 464px;
  z-index: -1;
}
.contact::before {
  top: -120px; 
  left: 0; 
}
.contact::after {
  bottom: -90px;
  right: 0;
  transform: scaleX(-1);
}
.contact .box {
  padding: clamp(1rem, 5vw, 4rem);
  gap: 1.5rem; 
}
@media (max-width: 992px) {
  .contact .box {
    flex-direction: column; 
  }
}
.contact .box iframe {
  flex: 0 1 33.33%; 
} 
@media (max-width: 992px) {
  .contact .box iframe {
    width: 100%; 
    min-height: 500px; 
  }
}
.contact .box .contact-us {
  flex: 1; 
}
.contact .box .contact-us > .box-border {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: clamp(1rem, 3vw, 4rem); 
}
.contact .box .contact-us h2 {
  font-size: 30px; 
  margin-bottom: 30px; 
}
.contact .box .contact-us h2::before {
  display: none;
}
.contact .box .contact-us form {
  flex-wrap: wrap;
  gap: 1rem 1.5rem; 
}
.contact .box .contact-us form div:has(input, textarea) {
  flex: 1 1 40%;
  position: relative;
  height: 50px; 
}
@media (max-width: 992px) {
  .contact .box .contact-us form div:has(input, textarea) {
    flex-basis: 100%; 
  }
}
.contact .box .contact-us form div :is(input, textarea) {
  width: 100%; 
  height: 100%; 
  display: block; 
  font-size: 1rem;
  padding: 1rem; 
  border: 1px solid #ddd; 
  outline: none;
  border-radius: 3px; 
  transition: .3s; 
  position: relative; 
  z-index: 2; 
  background-color: transparent;
  resize: none; 
}
.contact .box .contact-us form div :is(input:focus, textarea:focus) {
  border-color: #5b03e4
}
.contact .box .contact-us form div :is(input, textarea) + label {
  position: absolute;
  left: 18px; 
  top: 50%;
  transform: translateY(-50%);
  transition: .3s; 
  font-size: 14px; 
  pointer-events: none;
}
.contact .box .contact-us form div :is(input:focus, textarea:focus) + label, 
.contact .box .contact-us form div :is(input:valid, textarea:valid) + label {
  left: 10px; 
  top: 0;
  padding: .125rem;
  font-size: 12px; 
  background-color: #fff; 
  z-index: 2;
}
.contact .box .contact-us form div:has(textarea) {
  flex-basis: 100%;
  height: 160px;
}
.contact .box .contact-us form div textarea {
  resize: none; 
}
.contact .box .contact-us form div textarea + label {
  left: 24px; 
  top: 24px; 
}
.contact .box .contact-us form input[type="submit"] {
  flex-basis: 100%; 
  border: none; 
  outline: none; 
  padding: 1em; 
  cursor: pointer;
  transition: .3s; 
  border-radius: 3px;
}
.contact .box .contact-us form input[type="submit"]:hover {
  background-color: #ae00ff; 
}
.contact .box .info {
  background-image: linear-gradient(90deg, rgba(85,0,227,1) 0%, rgba(198,61,255,1) 100%);
  padding: clamp(1rem, 3vw, 4rem); 
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  gap: 2rem; 
} 
@media (max-width: 992px) {
  .contact .box .info {
    flex-direction: column; 
  }
}
.contact .box .info > * {
  flex: 1; 
  flex-direction: column; 
}
.contact .box .info a i {
  font-size: 30px; 
  margin-bottom: 10px; 
}
/* End Contact */
/* Start Footer */
footer {
  padding: 4rem 0;
}
/* End Footer */
/* Start Landing-About */
.section {
  padding-top: 30px;
  margin-top: 90px;
}
.landing-about::before, 
.landing-about::after {
  display: none; 
}
.landing-about h2 {
  padding-right: 0 !important; 
}
@media (max-width: 992px) {
  .landing-about .container {
    flex-direction: column; 
    gap: 4rem; 
  }
}
.landing-about .container img {
  animation: go-up 2s ease-in-out .5s forwards; 
  opacity: 0; 
  transform: translateY(30px); 
  min-width: 400px; 
}
@media (max-width: 767px) {
  .landing-about .container img {
    min-width: auto; 
  }
}
.landing-about .container .box {
  padding: 0; 
  background-color: transparent; 
  box-shadow: none;
}
/* End Landing-About */
/* Start Video Info */
.video-info {
  background-image: url(../images/video-bg.jpg);
  background-size: 100%; 
  padding-bottom: 60px; 
}
.video-info .container {
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media (max-width: 992px) {
  .video-info .container {
    grid-template-columns: minmax(200px, 1fr);
  }
}
.video-info .image {
  transform: translateY(-5rem);
  height: fit-content; 
}
.video-info .image a {
  position: absolute; 
  left: 50%; 
  top: 50%; 
  transform: translate(-50%, -50%);
  display: grid; 
  place-items: center; 
  width: 40px;
  height: 40px; 
  background-color: #fff; 
  border-radius: 50%;
}
.video-info .content h2 {
  color: #fff; 
  font-size: clamp(2rem, 2.5vw, 3.5rem);
  padding: 60px 0 30px 0;
}
@media (max-width: 992px) {
  .video-info .container {
    gap: 0; 
  }
  .video-info .content h2 {
    padding-top: 0; 
  }
}
.video-info .content p {
  margin-bottom: 30px; 
}
.video-info .content h2::before {
  background-color: #fff; 
}
.video-info .content .field .progress {
  background-color: rgba(249, 235, 255, 0.2); 
  height: 10px;
}
.video-info .content .progress span::before {
  background-color: transparent; 
  font-size: 1rem; 
  font-weight: bold;
}
.video-info .content .progress span::after {
  display: none;
}
/* End Video Info */
/* Start Happy Clients */
.happy-clients::before, 
.happy-clients::after {
  position: absolute; 
  z-index: -1; 
  width: 103px; 
  height: 464px; 
}
.happy-clients::before {
  content: url(../images/contact-left.jpg);
  z-index: -1; 
  top: -90px; 
  left: 0;
}
.happy-clients::after {
  content: url(../images/contact-left.jpg);
  bottom: -90px; 
  right: 0; 
  transform: scale(-1);
}
.happy-clients h2 {
  padding-bottom: 30px; 
  margin-bottom: 30px; 
}
.happy-clients .container > h2::before {
  left: 50%; 
  transform: translateX(-50%);
}
.happy-clients p {
  margin-bottom: 60px; 
}
/* End Happy Clients */
/* Start Animations */
@keyframes go-up {
  to {
    opacity: 1; 
    transform: translateY(0)
  }
}
/* End Animations */